.bio-label {
    margin-top: 40px;
    font-family: proxima nova;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #E0E0E0;
    opacity: 0.9;
    width: 10em;
    font-size: 1.3em;
}

.bio-image {
    margin-top: 30px;
    border-radius: 25px;
    text-align: left;
    height: 27em;
    width: auto;
}


.bio-text {
    padding: 5px;
    padding-top: 30px;
    font-family: proxima nova;
    text-align: left;
}