.bio-label {
    margin-top: 40px;
    font-family: monospace;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #adadadec;
    opacity: 0.9;
    width: 8em;
    font-size: 1em;
}

.bio-image {
    margin-top: 30px;
    border-radius: 25px;
    text-align: left;
    height: 30em;
    width: auto;
}

.bio-text {
    padding: 5px;
    padding-top: 30px;
    font-family: monospace;
    text-align: left;
}