.collage-container {
    display: flex;
    flex-direction: column;
    grid-gap: 5px;
    padding: 10px;
    width: 90%;
}

.panel {
    background-color: #E0E0E0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    font-family: proxima nova;
    position: relative;
    overflow: hidden;
    transition: max-height 1s ease, background-color 0.5s ease, padding 0.5s ease;
    max-height: 10em;
    padding: 10px;
    overflow-y: hidden; 
}

.panel:hover {
    max-height: 20em;
    background-color: #e0e0e0;
    padding: 20px;
    overflow-y: auto; 
}

.panel .hidden-text {
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.panel:hover .hidden-text {
    display: block;
    opacity: 1;
}

.hidden-text {
    text-align: left;
    font-family: proxima nova;
    font-size: 17px;
    background-color: #e0e0e0;
    transition: background-color 0.1s ease;
    margin-top: 10px;
}

.card {
    width: 20rem;
    font-family: proxima nova;
    background-color: #F3DCFF;
    float: right; 
    margin-right: 80px; 
}


.card-title {
    font-family: proxima nova;
    text-align: left;
}

.card-text {
    font-family: proxima nova;
    text-align: left;
}
