.collage-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
    height: 100vh;
}

.panel {
    background-color: #bcb6d8ac;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    font-family: monospace;
    position: relative;
    transition: all 0.3s ease;
}

.edu {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 11em;
}

.internship {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 11em;
}

.involve {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 11em;
}

.docs {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
}

.panel:hover {
    flex: 2 2 0;
    /* z-index: 10;
    grid-column: 1 / span 3; 
    grid-row: 1 / span 2;  */
    font-size: 14px;
    background-color: #e0e0e0;
}

.panel:hover .hidden-text {
    opacity: 1;
}

.hidden-text {
    position: absolute;
    flex-wrap: wrap;
    top: 100%;
    left: 75%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 100%;
    transition: opacity 0.3s ease;
    text-align: center;
    font-family: monospace;
}
