.collage-container {
    display: grid;
    grid-template-areas: 
        "edu internship docs"
        "involve involve docs";
    grid-gap: 15px;
    padding: 10px;
}

.panel {
    background-color: #bcb6d8ac;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;
    font-family: monospace;
}

.edu {
    grid-area: edu;
    height: 10em;
}

.internship {
    grid-area: internship;
}

.involve {
    grid-area: involve;
    height: 9em;
}

.docs {
    grid-area: docs;
}
