.carousel-panel {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 60px;
    width: 90%;
    background-size: cover; 
    background-position: top; 
    background-repeat: no-repeat; 
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}


.panel-web {
    background-image: url('./assets/website.png');
}

.panel-edu {
    background-image: url('./assets/edu.png');
}

.panel-space {
    background-image: url('./assets/space.png');
}

.carousel-caption {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.projects-text {
    text-align: left;
    padding-left: 30px;
    padding: 20px;
    font-family: proxima nova;
    color: aliceblue;
}
